@charset "utf-8";
/* CSS Document */

body {
	color: #333;
	font: 75% verdana, arial, helvetica, sans-serif;
	background: #FFF;
	margin: 0px;
	padding: 0px;
}
a:link, a:visited {
	color: #06C;
	text-decoration: underline;
}
a:hover {
	color: #C00;
	text-decoration: none;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	color: #d95c00;
	background: url(../images/h2_bg.gif) no-repeat left top;
	height: 33px;
	margin: 10px 0px 0px;
	padding: 0px 0px 0px 40px;
}
h3 {
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	color: #060;
	font-size: 15px;
}

table {
	border: 1px solid #ccc;
	border-collapse:collapse;
	width: 100%;
	font-size: 100%;
	line-height: 130%;
	font-family: "verdana, arial, helvetica, sans-serif";
}
tr {
    border: 0;
}
td, th {
	border: 1px solid #ccc;
	padding: 3px 5px 2px;
}
th {
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}


.dialog {
}
.dialog table {
	border: 0px solid #ccc;
	padding: 5px 0;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 100%;
	width: 100%;
}
.dialog table caption {
	font-weight: bold;
	color: #014b6a;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 160%;
}
.dialog table th {
	background: #fbf7d5;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	font-weight: bold;
	color: #3c4e66;
}
.dialog table th img {
	vertical-align: middle;
}



.dialog table td {
	background: #FFF;
	border-top: 0px dotted #CCC;
	border-right: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	border-left: 0px dotted #CCC;
}

.category {
	margin: 5px;
}
.category em {
	color: #C00;
	font-style: normal;
	font-weight: bold;
	padding-right: 2px;
	padding-left: 2px;
}

.prop {
    padding: 5px;
}
.prop .name {
	background: #fbf7d5;
	border-top: 1px solid #CCC;
	border-right: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 0px solid #CCC;
	font-weight: bold;
	color: #3c4e66;
	white-space: nowrap;
	width: 10%;
	text-align: right;
}
.prop .value {
	background: #FFF;
	border-top: 0px dotted #CCC;
	border-right: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	border-left: 0px dotted #CCC;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 100% verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
	vertical-align: middle;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}
#examine {
	border-style: none;
}


#comfirm {
	color: #FFF;
	background: url(../images/comfirm_bg.gif) repeat-x left center;
	padding: 3px 10px 3px;
	padding: 5px 10px 2px\9;
	*padding: 5px 10px 2px;
}
#cancel {
	color: #FFF;
	background: url(../images/cancel_bg.gif) repeat-x left center;
	padding: 3px 10px 3px;
	padding: 5px 10px 2px\9;
	*padding: 5px 10px 2px;
}

