@charset "utf-8";
@import url("multimenu.css");
@import url("design.css");
html * {
    /*margin: 0; Calendar Not Displayed Correctly in Firefox*/
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

INPUT.hintTextbox       { color: #888; }
INPUT.hintTextboxActive { color: #000; }

body {
	margin: 0;
	background: #d8f0f7 url(../images/body_bg.jpg) repeat-x left top;
	color: #333;
	font: 80% verdana, arial, helvetica, sans-serif;
}
#grailsLogo {
	padding:0px;
	background: #5faecd url(../images/grailsLogo_bg.jpg) no-repeat left top;
	margin: 0px;
	height: 80px;
}

a:link, a:visited {
	color: #06C;
	text-decoration: underline;
}
a:hover {
	color: #C00;
	text-decoration: none;
}


h1 {
	font: bold 20px "微軟正黑體";
	color: #014b6a;
	background: url(../images/title_bg.gif) no-repeat left top;
	height: 48px;
	padding-top: 10px;
	padding-left: 70px;
	letter-spacing: 0.05em;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
	background-color: #fcfcfc;
	border: 1px solid #ccc;
	font: 100% verdana, arial, helvetica, sans-serif;
	margin: 2px 0;
	padding: 2px 4px;
	vertical-align: middle;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}
#examine {
	border-style: none;
}
.comfirm {
	color: #FFF;
	background: url(../images/comfirm_bg.gif) repeat-x left center;
	padding: 3px 10px 3px;
	padding: 5px 10px 2px\9;
	*padding: 5px 10px 2px;
}
.buttonBlue {
	color: #FFF;
	background: url(../images/cancel_bg.gif) repeat-x left center;
	padding: 3px 10px 3px;
	padding: 5px 10px 2px\9;
	padding: 5px 10px 2px;
}
.buttonOrange {
    color: #FFF;
    background: url(../images/orangebt_bg.gif) repeat-x left center;
    padding: 3px 10px 3px;
    padding: 5px 10px 2px\9;
    *padding: 5px 10px 2px;
}
.infobt {
    color: #FFF;
    background: url(../images/infobt_bg.gif) repeat-x left center;
    padding: 3px 10px 3px;
    padding: 5px 10px 2px\9;
    *padding: 5px 10px 2px;
}
.body {
	margin: 0px 15px;
	clear: both;
	padding-top: 3px;
	padding-bottom: 10px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
	border: 1px solid #ccc;
	border-collapse:collapse;
	/*width: 100%;*/
	font-size: 100%;
	line-height: 130%;
	font-family: "verdana, arial, helvetica, sans-serif";
}
tr {
    border: 0;
}
td, th {
	border: 1px solid #ccc;
	padding: 3px 5px 2px;
}
th {
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
	padding: 5px 0;
	margin-top: 5px;
	margin-bottom: 10px;
}
.dialog table caption {
	font-weight: bold;
	color: #014b6a;
	font-family: "微軟正黑體";
	font-size: 15px;
	letter-spacing: 0.1em;
	line-height: 160%;
}
.dialog table th {
	background: #fbf7d5;
	border-top: 1px solid #CCC;
	border-right: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	font-weight: bold;
	color: #3c4e66;
}


.dialog table td {
	border-top: 0px dotted #CCC;
	border-right: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	border-left: 0px dotted #CCC;
}
#table3 {
	border-style: none;
}
#table3 .name {
	background: #fbf7d5;
	border-top: 1px solid #CCC;
	border-right: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 0px solid #CCC;
	font-weight: bold;
	color: #3c4e66;
}
#table3 .value {
	background: #FFF;
	border-top: 0px dotted #CCC;
	border-right: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	border-left: 0px dotted #CCC;
}
table .plain {
	border-style: none;
}

.prop {
    padding: 5px;
}
.prop .name {
	background: #fbf7d5;
	border-top: 1px solid #CCC;
	border-right: 0px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 0px solid #CCC;
	font-weight: bold;
	color: #3c4e66;
	white-space: nowrap;
	width: 10%;
	text-align: right;
}
.prop .value {
	background: #FFF;
	border-top: 0px dotted #CCC;
	border-right: 0px dotted #CCC;
	border-bottom: 1px dotted #CCC;
	border-left: 0px dotted #CCC;
}
span.defaultHighlight {
	text-decoration: underline;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}
