@charset "utf-8";

/*--水平 Horizontal Menu Start--*/
.mlmenu{
	padding:0px;
	margin:0px;
	font-family: "微軟正黑體";
	font-weight: bold;
	border-bottom: 1px solid #78b4ce;
}


.mlmenu ul{
	list-style-type: none;
	margin:0px;	
	padding: 0px;
	font-size: 15px;
	
	
}
.mlmenu li{
	float: left;	
	display: inline;
	position: relative;
}
.mlmenu li a{
	text-decoration: none;
	float: left;
	display: block;	
	border-top: none;
}
.mlmenu li li {
    clear: left;
}

.mlmenu li ul {
	position: absolute; 
	left: 0;
	display: block;
	height: auto;
	z-index:99;
	display:none;       /*------預設選單先關掉,再由js控制load完所有資料再出再----------*/
}
.mlmenu ul ul {
	margin:0px;
	font-size: 13px;
	font-family: "新細明體";
	font-weight: normal;
}
.mlmenu li li ul{
	position: absolute;
	left: 0px;
	*left: auto;	
	margin-top: -1px;
	margin-left: 180px;
	*margin-left: 0px;	
}

.mlmenu li ul li a{
    width:180px;
}
/*--水平 Horizontal 選單層級樣式Start--*/

.menubg ul {
	margin:0px;
	padding:0px;
	
}

.menubg li {
	padding:2px;
	border: 0px solid #CCC;
}
.menubg li a.here {
	font-weight: bold;
	background: url(../images/menu_liov.gif) no-repeat right bottom;
	color: #015c81;
}
.menubg li a {
	color: #333333;
	text-align: left;
	padding: 6px 15px 5px 20px;
	background: url(../images/menu_li.gif) no-repeat right bottom;
	font-weight: bold;
}

.menubg li a:hover {
	text-decoration: none;
	background: url(../images/menu_liov.gif) no-repeat right bottom;
	color: #015c81;
}
.menubg ul ul {
	margin-top:22px;
	background: #FFFFFF;
	border: 0px solid #CCC;	
}
.menubg li li{
	border-bottom: 1px solid #CCCCCC;
	padding:0px;
}
.menubg li li a {
	background-color: #efefef;
	text-align: left;
	color: #333;
	background-image: url(../images/menu_icon2.gif);
	font-weight: normal;
	line-height: 130%;
	background-repeat: no-repeat;
	background-position: 3px 5px;
	padding-left: 20px;
}
.menubg li li a:hover{
	text-decoration: none;
	color: #FFFFFF;
	background: #2172a0 url(../images/menu_icon2.gif) no-repeat 3px 5px;
}

.menubg img {
	border: none;
	vertical-align: text-top;
	margin-left: 2px;
}






/*--Vertical 垂直 彈出定位設定 Start--*/

.leftbg .mlmenu ul{
	background-image: url(../images/vertica_Menubg.gif);
	background-repeat: no-repeat;
	background-position: 0px top;	
	list-style-type: none;
	margin:0px;
	padding:0px;
	
}

.leftbg .mlmenu li a{
	display: block;
	width: 152px;
	_width: 170px;
	text-decoration: none;
	
}

.leftbg .mlmenu img{ padding:4px 0 0 0;}

.leftbg .mlmenu li{
	display: inline;
	position: relative;
	

	
}
.leftbg .mlmenu li ul{
	position: absolute;
	top: 0;
	margin-top: -1px;
	margin-left: 170px;
	_margin-left: 187px;
	display: block;
	
}


/*--Vertical 選單層級樣式Start--*/
.leftbg .menubg ul {
	background-color: #FFFFFF;
	background-image: none;
	width:170px;    /*--要設寬度展開時才不會有第二次展開停頓的現象--*/
	_width:187px;	
	padding:0px 0px 0px 0px;	
	margin:0px;
	border-top: 1px solid #a4cac0;
	border-left: 1px solid #a4cac0;
	border-right: 1px solid #a4cac0;
}

.leftbg .menubg  ul ul{
	margin-left: 170px;
	_margin-left: 188px;
	position: absolute;
	left: 0;
	*left:auto;
	
	
}
.leftbg .menubg li{	
	
	
}
.leftbg .menubg li a {
	text-align: left;
	padding: 3px 0px 3px 18px;
	background-image: url(../images/icon_menu1.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;	
	color: #176550;
	line-height: 25px;
	border-bottom: 1px solid #b4d4cb;	
	word-wrap:break-word;
	
}


.leftbg .menubg li a:hover {
	text-decoration: none;
	color: #000;
	background-color: #82b665;
}
.leftbg .menubg li a:active {
	text-decoration: none;
	color: #006699;
	background-color: #4f9a49;
}

.leftbg .menubg li li{
	
}
.leftbg .menubg li li a {
	padding:3px 3px 3px 15px;
	text-align: left;
	color: #598257;	
	/*display:block;*/
	background-image: url(../images/icon_menu2.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;	
		
}
.leftbg .menubg li li a:hover{
	text-decoration: none;
	background-color: transparent;
	color: #CC6600;
}

.leftbg .menubg li a.here{
	text-decoration: none;
	background-color: #FBEBB9;	
	color: #333333;
}
.leftbg .menubg img {
	border: none;
	vertical-align: text-top;
	margin-left: 2px;
}




